.venv
.idea
__pycache__/
*.pyc
.DS_Store
.env
.db
.pytest_cache/
Thumbs.db
DOCKER_FIX_SUMMARY.md
GITHUB_ACTIONS_RECOMMENDATIONS.md
README_DOCKER_FIX.md
gunicorn-access.log
gunicorn-error.log
PRODUCTION_READINESS_REPORT.md
RABBITMQ_URL_GUIDE.md
